<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fuction-na-studentapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/830f9132-c449-4cd2-9dc0-c7efbc1b2543/resourceGroups/rg-na-studentapp/providers/Microsoft.Web/sites/fuction-na-studentapp</ResourceId>
    <UserName>$fuction-na-studentapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fuction-na-studentapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>